.summary-container {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 7px;
    margin-bottom: 20px;
}

.summary-container h3 {
    margin: 0px;
}

.green-text {
    color: #30E043;
}

.red-text {
    color: #f7505a;
}
