.dashboard-wrapper {
    display: flex;
    margin-left: 64px;
    justify-content: space-evenly;
}

.cashflows-wrapper {
    width: 60%;
    margin: 20px 0px;
}

.metrics-wrapper {
    width: 35%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}
